
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neuton', serif;
    outline: none;
}
body {
    background: url("./img/handwriting.png");
}

.container{
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
    margin-top: 100px;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

img {
    height: 25px;
}